/*CSS document*/

/* Farvekoder 
1. baggrundsfarve:  #E2D6D3
tekst der til: #d3c1c0

2. baggrund: #e2d6d3;
tekst til: #cfc6b9;

3. baggrund: #c7afa8;
tekst: #d0bcb7;
*/





* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #452d2c;
}

h1 {
    font-size: 36px;
    color: whitesmoke;
    background-color: rgba(226, 214, 211, 0.8);
    padding: 1%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
   
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    padding-bottom: 2%;
}

p {
    font-size: 14px;
    line-height: 18px;
}



/********* HEADER ********/



/********* BODY **********/

img {
    width: 100%;
}



/************** Loop **************************/

video {
    width: 100%;
    margin: 0 auto;
    
}

#navn {
    width: 70%;
    position: absolute;
    transform: translate(-10%, -80%);
}
/*********************** Hvem er Anne? *********************/




#hvemeranne {
    background-image: url("../images/hvemeranne-baggrund.png");
    background-repeat: no-repeat;
    display: flex;
    padding: 12% 5% 10% 5%;
    height: 80vh;
  
}

#annehjemme {
    width: 55%;
    margin: auto 0;
}

#teksthvemer {
    width: 40%;
}

#teksthvemer h2,
p {
    padding: 0% 8% 4% 0%;
}



/************* Inspiration **********************************/

#annepaabaenk {
    background-image: url("../images/annepaabaenk.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#annepaabaenk h1 {
    top: 220%;
    left: 50%;
}

#naturinspirerer {
    background-image: url("../images/natur-baggrund.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    height: 118vh;
}

#natur {
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 40%;
}

#natur h2 {
    padding: 20% 5% 5% 18%;
}

#natur p {
    padding: 5% 5% 8% 18%;
}






/*********** Største oplevelse *****************************/

#annesmil {
    background-image: url("../images/annesmil.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#annesmil h1 {
    top: 435%;
    left: 50%;
}

#lyd1{
    height: 700%;   
}



#oplevelse {
    background-image: url("../images/oplevelse-baggrund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}

#oplevelse img {
    width: 45%;
    padding: 10% 3% 10% 10%;
    margin: auto 0;
}

#oplevelse p {
    width: 100%;
    height: 40%;
}

#tekstoplevelse {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin: auto 0;
}



/***************** Lydprøve ******************************/

#anneklaver {
    background-image: url("../images/anneklaver.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#anneklaver h1 {
    top: 620%;
    left: 50%;
}

#lyd {
    width: 100%;
    display: flex;
    background-color: #E2D6D3;
    background-image: url("../images/lyd-baggrund.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    flex-direction: row;
}



#poesi {
    display: flex;
    padding: 2%;
    flex-direction: column;
}

#sidemannen {
    display: flex;
    padding: 2%;
    flex-direction: column;
}

footer {
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

footer p {
    padding: 6% 5%;
    color: whitesmoke;
}
